@model Longgan.Models.Home.SetCase

@{
    ViewBag.Title = "CaseDetail";
}


<link rel="stylesheet" type="text/css" href="~/Content/zoom.css" />

<div id="wrapper">

    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>@Model.Title</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li>@Html.ActionLink("安装案例", "Case")</li>
                        <li class="active">@Model.Title</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <section class="colon14">

        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">

            <div id="content" class="single-portfolio col-lg-12 col-md-12 col-sm-12">

                <div id="zoomdiv" class="col-lg-8 col-md-8 col-sm-12">
                    @{
                        string filePath = VirtualPathUtility.ToAbsolute(System.Configuration.ConfigurationManager.AppSettings["fileRoot"]);
                        string picPath = string.Format("{0}/{1}", filePath, Model.PicName);
                    }

                    <span class='zoom' id='photoImg'>
                        <img src="@picPath" alt="" title="" />
                    </span>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="clearfix"></div>
                    <h2 class="general-title">
                        <span>@Model.Title</span>
                    </h2>

                    <p>@Model.Content</p>

                @*<hr>*@

                <div class="clearfix"></div>
            </div><!-- end widget -->
        </div><!-- end col-4 -->
        <div class="clearfix"></div>

        @*<ul class="pager">
            <li class="previous">
                <a href="#">← 前一个</a>
            </li>
            <li class="next">
                <a href="#">下一个 →</a>
            </li>
        </ul>*@

    </div><!-- end content -->


</section>
<div class="clearfix"></div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.zoom.min.js");
    <script>
        (function ($) {
            var w = $("#zoomdiv").width();//容器宽度
            $("#zoomdiv img").each(function () {//如果有很多图片，我们可以使用each()遍历
                var img_w = $(this).width();//图片宽度
                var img_h = $(this).height();//图片高度
                if (img_w > w) {//如果图片宽度超出容器宽度--要撑破了
                    var height = (w * img_h) / img_w; //高度等比缩放
                    $(this).css({ "width": w, "height": height });//设置缩放后的宽度和高度
                }
            });

            $(document).ready(function () {
                $('#photoImg').zoom();
            });

        })(jQuery);
    </script>

}
