@model List<Longgan.Models.Home.New>

<section class="colon14">
    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>新闻中心</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">新闻中心</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- START CONTENT AND SIDEBAR -->
    <div class="container general">

        <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

            <ul class="timeline">

                <li class="year">@DateTime.Today.Year</li>
                @{int i = 1;}
                @foreach (var item in Model)
                {

                    string date = string.Format("{0}月{1}日", item.Created.Month, item.Created.Day);


                    if (i > 1)
                    {
                        <li class="event offset-first" href="#">
                            <h4>@item.Title</h4>
                            <p>
                                @item.Content
                            </p>
                            <span class="month">@date</span>
                        </li>
                    }
                    else
                    {
                        <li class="event" href="#">
                            <h4>@item.Title</h4>
                            <p>
                                @item.Content
                            </p>
                            <span class="month">@date</span>
                        </li>

                    }

                    i = i + 1;
                }


            </ul>
        </div><!-- end content -->

    </div><!-- end container -->
    <!-- END CONTENT -->

</section>
