@model List<Longgan.Models.Home.Product>

<section class="colon14">
    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>产品展示</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">产品展示</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- START CONTENT AND SIDEBAR -->
    <div class="container general">
        <div id="content" class="single col-lg-12 col-md-12 col-sm-12">
            @*<div class="message text-center">
                    <h2>Let's see all example <span>portfolio</span> items below</h2>
                    <p> Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
                </div>*@

            <div class="dm-portfolio">
                <div class="container">
                    <nav class="portfolio-filter">
                        <ul>
                            <li><a href="#" class="btn btn-general active" data-filter="*">所有产品</a></li>
                            <li><a href="#" class="btn btn-general" data-filter=".SY">商用型热泵</a></li>
                            <li><a href="#" class="btn btn-general" data-filter=".JY">家用型热泵</a></li>
                            <li><a href="#" class="btn btn-general" data-filter=".DY">地源热泵</a></li>
                            <li><a href="#" class="btn btn-general" data-filter=".KZ">控制系列</a></li>
                            <li><a href="#" class="btn btn-general" data-filter=".DQ">电器元件</a></li>
                            <li><a href="#" class="btn btn-general" data-filter=".KT">空调产品</a></li>

                        </ul>
                    </nav>
                </div> <!--/container -->
            </div> <!--/dm portfolio -->

            <div class="clearfix"></div>

            <section class="portfolio">
                @{
                    List<Longgan.Models.Home.Product> allProducts = Model;
                    List<Longgan.Models.Home.Product> SYProducts = Model.FindAll(p => p.Type == "SY").OrderByDescending(p => p.Created).ToList();
                    List<Longgan.Models.Home.Product> JYProducts = Model.FindAll(p => p.Type == "JY").OrderByDescending(p => p.Created).ToList();
                    List<Longgan.Models.Home.Product> DYProducts = Model.FindAll(p => p.Type == "DY").OrderByDescending(p => p.Created).ToList();
                    List<Longgan.Models.Home.Product> KZProducts = Model.FindAll(p => p.Type == "KZ").OrderByDescending(p => p.Created).ToList();
                    List<Longgan.Models.Home.Product> DQProducts = Model.FindAll(p => p.Type == "DQ").OrderByDescending(p => p.Created).ToList();
                    List<Longgan.Models.Home.Product> KTProducts = Model.FindAll(p => p.Type == "KT").OrderByDescending(p => p.Created).ToList();

                    string filePath = VirtualPathUtility.ToAbsolute(System.Configuration.ConfigurationManager.AppSettings["fileRoot"]);
                }

                @foreach (Longgan.Models.Home.Product product in SYProducts)
                {
                    string picPath = string.Format("{0}/{1}", filePath, product.PicName);

                    <div class="col-lg-3 col-md-3 col-sm-6 SY">
                        <div class="portfolio-columns">
                            <a href="@Url.Action("ProductsDetail", new { Id = @product.Id })">
                                <img src="@Url.Content(@picPath)" style="height:180px;width:200px;" alt="">
                                <div>
                                    <h5>@product.Title</h5>
                                    <p><i class="icon-folder-open-alt"></i>@product.Content</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }

                @foreach (Longgan.Models.Home.Product product in JYProducts)
                {
                    string picPath = string.Format("{0}/{1}", filePath, product.PicName);

                    <div class="col-lg-3 col-md-3 col-sm-6 JY">
                        <div class="portfolio-columns">
                            <a href="@Url.Action("ProductsDetail", new { Id = @product.Id })">
                                <img src="@Url.Content(@picPath)" style="height:180px;width:200px;" alt="">
                                <div>
                                    <h5>@product.Title</h5>
                                    <p><i class="icon-folder-open-alt"></i>@product.Content</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }

                @foreach (Longgan.Models.Home.Product product in DYProducts)
                {
                    string picPath = string.Format("{0}/{1}", filePath, product.PicName);

                    <div class="col-lg-3 col-md-3 col-sm-6 DY">
                        <div class="portfolio-columns">
                            <a href="@Url.Action("ProductsDetail", new { Id = @product.Id })">
                                <img src="@Url.Content(@picPath)" style="height:180px;width:200px;" alt="">
                                <div>
                                    <h5>@product.Title</h5>
                                    <p><i class="icon-folder-open-alt"></i>@product.Content</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }

                @foreach (Longgan.Models.Home.Product product in KZProducts)
                {
                    string picPath = string.Format("{0}/{1}", filePath, product.PicName);

                    <div class="col-lg-3 col-md-3 col-sm-6 KZ">
                        <div class="portfolio-columns">
                            <a href="@Url.Action("ProductsDetail", new { Id = @product.Id })">
                                <img src="@Url.Content(@picPath)" style="height:180px;width:200px;" alt="">
                                <div>
                                    <h5>@product.Title</h5>
                                    <p><i class="icon-folder-open-alt"></i>@product.Content</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }

                @foreach (Longgan.Models.Home.Product product in DQProducts)
                {
                    string picPath = string.Format("{0}/{1}", filePath, product.PicName);

                    <div class="col-lg-3 col-md-3 col-sm-6 DQ">
                        <div class="portfolio-columns">
                            <a href="@Url.Action("ProductsDetail", new { Id = @product.Id })">
                                <img src="@Url.Content(@picPath)" style="height:180px;width:200px;" alt="">
                                <div>
                                    <h5>@product.Title</h5>
                                    <p><i class="icon-folder-open-alt"></i>@product.Content</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }

                @foreach (Longgan.Models.Home.Product product in KTProducts)
                {
                    string picPath = string.Format("{0}/{1}", filePath, product.PicName);

                    <div class="col-lg-3 col-md-3 col-sm-6 KT">
                        <div class="portfolio-columns">
                            <a href="@Url.Action("ProductsDetail", new { Id = @product.Id })">
                                <img src="@Url.Content(@picPath)" style="height:180px;width:200px;" alt="">
                                <div>
                                    <h5>@product.Title</h5>
                                    <p><i class="icon-folder-open-alt"></i>@product.Content</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </section>

            <div class="clearfix"></div>

        </div><!-- end content -->
    </div><!-- end container -->
    <!-- END CONTENT -->

</section><!-- end colon1 -->
@section Scripts {
    <script>
        // Portfolio
        (function ($)
        {
            "use strict";
            var $container = $('.portfolio'),
				$items = $container.find('.portfolio-columns'),
				portfolioLayout = 'fitRows';

            if ($container.hasClass('portfolio-centered'))
            {
                portfolioLayout = 'masonry';
            }

            $container.isotope({
                filter: '*',
                animationEngine: 'best-available',
                layoutMode: portfolioLayout,
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                },
                masonry: {

                }
            }, refreshWaypoints());

            function refreshWaypoints()
            {
                setTimeout(function ()
                {
                }, 1000);
            }

            $('nav.portfolio-filter ul a').on('click', function ()
            {
                var selector = $(this).attr('data-filter');
                $container.isotope({ filter: selector }, refreshWaypoints());
                $('nav.portfolio-filter ul a').removeClass('active');
                $(this).addClass('active');
                return false;
            });

            function setColumns()
            {
                var winWidth = $(window).width(),
					columnNumber = getColumnNumber(),
					itemWidth = Math.floor(winWidth / columnNumber);

                $container.find('.portfolio-columns').each(function ()
                {
                    $(this).css({
                        width: itemWidth + 'px'
                    });
                });
            }

            function setPortfolio()
            {
                setColumns();
                $container.isotope('reLayout');
            }

            $container.imagesLoaded(function ()
            {
                setPortfolio();
            });

            $(window).on('resize', function ()
            {
                setPortfolio();
            });
        })(jQuery);
    </script>
}