@model PagedList.StaticPagedList<Longgan.Models.Home.Product>
@using PagedList
@using PagedList.Mvc
<link rel="stylesheet" type="text/css" href="~/Content/pretty/css/prettyPhoto.css" media="screen" />

<section class="colon14">
    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>产品展示</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">产品展示</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- START CONTENT AND SIDEBAR -->


    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
        <div class="btn-group" role="group">
            <a href="@Url.Action("ProductsList")" class="btn btn-default">所有产品</a>
            <a href="@Url.Action("ProductsList", new { type="SY"})" class="btn btn-default">商用型热泵</a>
            <a href="@Url.Action("ProductsList", new { type="DY"})" class="btn btn-default">地源热泵</a>
            <a href="@Url.Action("ProductsList", new { type="KZ"})" class="btn btn-default">控制系列</a>
            <a href="@Url.Action("ProductsList", new { type="DQ"})" class="btn btn-default">电器元件</a>
            <a href="@Url.Action("ProductsList", new { type="KT"})" class="btn btn-default">空调产品</a>
            <a href="@Url.Action("ProductsList", new { type="GW"})" class="btn btn-default">高温空气源（电镀槽专用）</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="divider"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">

        @*<div>
                @Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("ProductsList", new { page = page, type = @ViewBag.type }), new PagedList.Mvc.PagedListRenderOptions { UlElementClasses = new List<string> { "pagination pagination-sm" }, MaximumPageNumbersToDisplay = 10, Display = PagedList.Mvc.PagedListDisplayMode.IfNeeded })
            </div>*@


        <ul class='gallery clearfix hideInMobile' style='list-style-type: none;padding-left:40px;margin-left:20px;'>
            @if (@ViewBag.type == "DY")
            {
                <li style='float:left;padding-right:15px;padding-bottom:15px;'>
                    <a href='@Url.Action("P1")'>
                        <img src='~/images/shuire1s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                    </a>
                    <div class="gallery-box-link" style="text-align:center;">
                        <h5>@Html.ActionLink("申银集团", "P1", "")</h5>
                    </div>
                </li>
                <li style='float:left;padding-right:15px;padding-bottom:15px;'>
                    <a href='@Url.Action("P2")'>
                        <img src='~/images/shuire2s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                    </a>
                    <div class="gallery-box-link" style="text-align:center;">
                        <h5>@Html.ActionLink("申银集团", "P2", "")</h5>
                    </div>
                </li>
                <li style='float:left;padding-right:15px;padding-bottom:15px;'>
                    <a href='@Url.Action("P3")'>
                        <img src='~/images/shuire3s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                    </a>
                    <div class="gallery-box-link" style="text-align:center;">
                        <h5>@Html.ActionLink("申银集团", "P3", "")</h5>
                    </div>
                </li>
                <li style='float:left;padding-right:15px;padding-bottom:15px;'>
                    <a href='@Url.Action("P4")'>
                        <img src='~/images/shuire4s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                    </a>
                    <div class="gallery-box-link" style="text-align:center;">
                        <h5>@Html.ActionLink("申银集团", "P4", "")</h5>
                    </div>
                </li>
                <li style='float:left;padding-right:15px;padding-bottom:15px;'>
                    <a href='@Url.Action("P5")'>
                        <img src='~/images/shuire5s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                    </a>
                    <div class="gallery-box-link" style="text-align:center;">
                        <h5>@Html.ActionLink("申银集团", "P5", "")</h5>
                    </div>
                </li>
            }

            @foreach (var item in Model)
            {
                string filePath = VirtualPathUtility.ToAbsolute(System.Configuration.ConfigurationManager.AppSettings["fileRoot"]);
                string picPath = string.Format("{0}/{1}", filePath, item.PicName);
                <li style='float:left;padding-right:15px;padding-bottom:15px;'>
                    <a href='@picPath' alt='@item.Title' rel='prettyPhoto[gallery1]' id="img1">
                        <img src='@picPath' class='img-thumbnail img-rounded' style='width:200px;height:200px;' alt='@item.Title' />
                    </a>
                    <div class="gallery-box-link" style="text-align:center;">
                        <h5>@Html.ActionLink(item.Title, "ProductsDetail", new { Id = item.Id })</h5>
                    </div>
                </li>
            }

        </ul>

        <div class="displayInMobile">
            @if (@ViewBag.type == "DY")
            {
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="gallery-box">
                        <a href='@Url.Action("P1")'>
                            <img src='~/images/shuire1s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                        </a>

                        <div class="gallery-box-titles">
                            <h3>@Html.ActionLink("申银集团", "P1", "")</h3>
                        </div><!-- gallery-box-titles -->
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="gallery-box">
                        <a href='@Url.Action("P2")'>
                            <img src='~/images/shuire2s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                        </a>

                        <div class="gallery-box-titles">
                            <h3>@Html.ActionLink("申银集团", "P2", "")</h3>
                        </div><!-- gallery-box-titles -->
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="gallery-box">
                        <a href='@Url.Action("P3")'>
                            <img src='~/images/shuire2s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                        </a>

                        <div class="gallery-box-titles">
                            <h3>@Html.ActionLink("申银集团", "P3", "")</h3>
                        </div><!-- gallery-box-titles -->
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="gallery-box">
                        <a href='@Url.Action("P4")'>
                            <img src='~/images/shuire2s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                        </a>

                        <div class="gallery-box-titles">
                            <h3>@Html.ActionLink("申银集团", "P4", "")</h3>
                        </div><!-- gallery-box-titles -->
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="gallery-box">
                        <a href='@Url.Action("P5")'>
                            <img src='~/images/shuire2s.jpg' class='img-thumbnail img-rounded' style='width:200px;height:200px;' />
                        </a>

                        <div class="gallery-box-titles">
                            <h3>@Html.ActionLink("申银集团", "P5", "")</h3>
                        </div><!-- gallery-box-titles -->
                    </div>
                </div>
            }
            @foreach (var item in Model)
            {
                string filePath = VirtualPathUtility.ToAbsolute(System.Configuration.ConfigurationManager.AppSettings["fileRoot"]);
                string picPath = string.Format("{0}/{1}", filePath, item.PicName);
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="gallery-box">
                        <a href="@picPath" class="zoombox effect-icona" data-biggallery="123" data-biggallerythumbnail="@picPath">
                            <img class="img-thumbnail" src="@picPath" alt="">
                        </a>

                        <div class="gallery-box-titles">
                            <h3>@Html.ActionLink(item.Title, "ProductsDetail", new { Id = item.Id })</h3>
                        </div><!-- gallery-box-titles -->
                    </div>
                </div>
            }
        </div>



        <div>
            @Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("ProductsList", new { page = page, type = @ViewBag.type }), new PagedList.Mvc.PagedListRenderOptions { UlElementClasses = new List<string> { "pagination pagination-sm" }, MaximumPageNumbersToDisplay = 10, Display = PagedList.Mvc.PagedListDisplayMode.IfNeeded })
        </div>


    </div><!-- end content -->
    <div class="clearfix"></div>
    <!-- END CONTENT -->

</section><!-- end colon1 -->
@section Scripts {
    @Scripts.Render("~/Scripts/jquery.prettyPhoto.js");
    <script>
        jQuery(document).ready(function ($)
        {
            $(".zoombox").zoomBox();
        });
        
        $(function ()
        {
             var sUserAgent = navigator.userAgent.toLowerCase();
                var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
                var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
                var bIsMidp = sUserAgent.match(/midp/i) == "midp";
                var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
                var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
                var bIsAndroid = sUserAgent.match(/android/i) == "android";
                var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
                var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
                //document.writeln("您的浏览设备为：");
                if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM)
                {
                    //document.writeln("phone");
                } else
                {
                    $("a[rel^='prettyPhoto']").prettyPhoto({
                        show_title: true,
                        default_width: 800,
                        default_height: 600,
                        allow_resize: true
                    });
                }
            

            //$("a[rel^='prettyPhoto']").prettyPhoto({
            //    show_title: true,
            //    default_width: 800,
            //    default_height: 600,
            //    allow_resize: true
            //});


        })
    </script>
}
