<ul id="jetmenu" class="jetmenu">
    <li>@Html.ActionLink("网站首页", "Index")</li>
    <li>
        @Html.ActionLink("公司简介", "About")
    </li>
    <li>
        @Html.ActionLink("产品展示", "ProductsList")        

    </li>
    <li>@Html.ActionLink("新闻中心", "News")</li>

    <li>
        @Html.ActionLink("安装案例", "Case")

    </li>
    <li>@Html.ActionLink("十大优点", "Advantage") </li>
    <li>
        @Html.ActionLink("联系我们", "Contact")

    </li>
    <li>@Html.ActionLink("售后服务", "AfterSale") </li>
</ul>
